<%- include("./partials/header.ejs") %>

<div class="page-pricing">
  <section>
      <h1 class="price">Pricing</h1>

      <div class="container">
        <div class="cards">
          <h6>Free plan</h6>

          <h1>Free</h1>
          <hr class="hr-color" />

          <p>
            <i class="fa-solid fa-circle-check f-color"></i> Lorem ipsum dolor
            sit amet adipisicing
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum
            consectetur
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet elit.
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet
          </p>

          <button class="btn" >Get Strated</button>
        </div>

        <div class="cards">
          <h6>Standard plan</h6>

          <h1>$99.99/m</h1>

          <hr class="hr-color" />

          <p>
            <i class="fa-solid fa-circle-check f-color"></i> Lorem ipsum dolor
            sit amet adipisicing
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum
            consectetur
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet elit.
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet
          </p>
          <button class="btn-2" >Get Strated</button>
        </div>

        <div class="cards">
          <h6>Avanced plan</h6>

          <h1>$19.99/m</h1>
          <hr class="hr-color" />

          <p>
            <i class="fa-solid fa-circle-check f-color"></i> Lorem ipsum dolor
            sit amet adipisicing
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum
            consectetur
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet elit.
          </p>
          <p>
            <i class="fa-solid fa-circle-check f-color"></i>Lorem ipsum dolor
            sit amet
          </p>
          <button class="btn">Get Strated</button>
        </div>
      </div>
    </section>

    <section>
      <div class="footer">
        <p>2025 All Right's Reserved</p>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="jQuery/jquery-3.7.1.min.js"></script>
</div>

<%- include("./partials/footer.ejs") %>
