<%-include("./partials/header.ejs")%>
    <title>Reset Password</title>
    <input type="hidden"  name="_csrf" value="<%= csrfToken %>">
</head>
<body>
    <h1>Reset password</h1>
    <form action="/reset-password/<%= token %>" method="POST">
  <input type="password" name="password" placeholder="New password" required />
  <button type="submit">Reset Password</button>
</form>

<script src="/js/auth.js"></script>
<%- include("./partials/footer.ejs") %>