<%- include("./partials/header.ejs") %>

<div class="page-signup">
    <div class="form-container">
      <form action="/signup" method="post" autocomplete="on">
        <h1>Get Started🚘</h1>
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Email" name="email"/>
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" name="password"/>
        <button class="login" type="submit">Submit</button>

        <a href="/login" class="signup-link"> Login</a>
      </form>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
